---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./echo/ks.yaml
  - /test/ks.yaml
  - ./n8n/ks.yaml
  - ./scanner-files/ks.yaml
