---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app homeassistant
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                  "name": "macvlan-conf",
                  "namespace": "network",
                  "mac": "66:d5:24:7b:93:81",
                  "ips": ["192.168.20.41/16"]
              }]
        containers:
          main:
            image:
              repository: ghcr.io/home-assistant/home-assistant
              tag: 2025.12.5
            env:
              TZ: "${TIMEZONE}"
    service:
      main:
        controller: main
        ports:
          https:
            port: &port 8123
    route:
      main:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: mdi:home-assistant
          gethomepage.dev/title: Home Assistant
          gethomepage.dev/description: "Home Automation Platform"
          gethomepage.dev/group: "Home Services"
        hostnames:
          - hass.${SECRET_DOMAIN}
          - homeassistant.local
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: main
                port: *port

    persistence:
      config:
        existingClaim: homeassistant